@import '../../styles//utilities/variables';
.card{
        width: calc(100% - 317px - 32px);
        height: auto;
        background-color: transparent;
        color: $white !important;
        margin-left: 8px;
        background: linear-gradient(to bottom, $spotify, $black); 
        &__side{
                margin-left: 16px;
        }
        &__logo{
                width: 23%;
                min-width: 128px;
                height: auto;
                margin: 8% 0px 0px 0px;
        }
        &__title{
                font-size: 2rem;
        }
        &__description{
                font-size: 14px;
        }
}
.mat-mdc-card-subtitle{
        color: white;
}
.mat-mdc-card-title-group{
        align-items: flex-end !important;
        justify-content: flex-start !important;
}
.mat-mdc-card-header {
        padding: 0;
}