.card{
        width: 190px;
        height: 268px;
        border-radius: 16px !important;
        padding: 16px;
        &__img{
                height: 158px;
                width: 158px;
                border-radius: 16px;
        };
        &__title{
                //font-size: $encore-text-size-base
        }
}