.card{
        width: 100%;
        height: auto;
        background-color: transparent;
        background-color: aquamarine;
        &__side{
                margin-left: 8px;
        }
        &__logo{
                width: 48px;
                height: 48px;
        }
        &__title{
                font-size: 14px;
        }
        &__description{
                font-size: 12px;
        }
}
.mat-mdc-card-subtitle{
        color: white;
}
.mat-mdc-card-title-group{
        align-items: flex-end !important;
        justify-content: flex-start !important;
}
.mat-mdc-card-header {
        padding: 0;
}