<section class="artist">
        <div><!-- imagen -->
                <h1>Shakira</h1>
                <p>monthly listeners</p>
        </div>
        @if(isActive()){
                <div>
                        @if(albums()){
                                <h2>Albums</h2>
                                @for(album of albums().items; track album){
                                        <app-card-album [title]="album.name" [year]="album.release_date" (click)="toggleDescription('Album', album)"></app-card-album>
                                }
                        }
                        @if(topTracks()){
                                <h2>Top Tracks</h2>
                                @for(topTrack of topTracks().tracks; track topTrack; let index = $index){
                                        <app-card-album [title]="topTrack.name" year="2011" (click)="toggleDescription('Tracks',topTrack)"></app-card-album>
                                }
                        }
                </div>
        }
        @else{
                <div class="description">
                        <app-card-description [description]="description()"></app-card-description>
                        <div>
                                <mat-icon aria-hidden="false" aria-label="play_arrow" fontIcon="play_arrow"></mat-icon>
                                <button (click)="saveLocalStorage.organizeFavorite(description())">
                                        <mat-icon aria-hidden="false" aria-label="favorite" fontIcon="favorite"></mat-icon>
                                </button>
                        </div>
                </div>
        }

</section>