@import '../utilities/variables';
@import '../utilities/mixins';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $white;
    overflow-x: hidden;
}

html {
    padding: 8px;
    font-size: 16px;
}

main, html{
    background-color: $black;
}

button{
    background-color: transparent;
    border: none;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    text-align: left;
    text-decoration: none;
    color: $gray;
}
button:hover{
    cursor: pointer;
    animation: cambioColor 0.25s linear;
    color: $white;
}

.btn-center{
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.btn-left{
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

@media screen and (max-width: 600px) {
    html {
      font-size: 14px;
    }
  }
  
@media screen and (max-width: 400px) {
    html {
        font-size: 12px;
    }
}
